<aside class="about-widget">
  <div class="container">
    <div class="lead-image">
      <img src="/assets/images/fiiv.jpg" class="avatar" alt="@fiiv">
    </div>

    <div class="content">
      <h2>About the author</h2>
      <p>
        I (<a href="https://fiiv.io">@fiiv</a>) am a digital nomad, writer and a web developer, currently in&nbsp;
        {% if site.mike_location_flag %}{{site.mike_location_flag}}&nbsp;{%endif%}
        <span class="highlight">{{site.mike_location}}</span>.
      </p>
      <p>
        I love to write – and what's more, I'd love to write for you. <a href="/hire/">Want to hire me?</a>
      </p>
    </div>
  </div>
</aside>
