<aside class="about-widget">
  <div class="container">
    <div class="lead-image">
      <img src="/assets/images/fiiv.jpg" class="avatar" alt="@fiiv">
    </div>

    <div class="content">
      <h2>About the author</h2>
      <p>
        I (<a href="https://fiiv.io">@fiiv</a>) am a digital nomad and a web developer, currently in&nbsp;
        {% if site.mike_location_flag %}{{site.mike_location_flag}}&nbsp;{%endif%}
        <span class="highlight">{{ site.mike_location }}</span>.
      </p>
      <p>
        If you want to talk about travel, tech, code, your project, or anything else under the sun, let's grab a ☕️  or 🍺 or anything else.
      </p>
    </div>
  </div>
</aside>
