<div class="lightbox">
  {% for image in include.images %}
    <a id="image-{{include.set}}-{{forloop.index0}}" href="#{{include.set}}" class="photo">
      <img src="{{image.image}}" alt="{{image.alt}}">
      <span class="caption">{{image.alt}}</span>
    </a>
  {% endfor %}
</div>

<ul class="photo-array" id="{{include.set}}">
  {% for image in include.images %}
    <li>
      <a href="#image-{{include.set}}-{{forloop.index0}}">
        <img src="{{image.image}}" alt="{{image.alt}}">
      </a>
    </li>
  {% endfor %}
</ul>
