<div class="lightbox">
  {% for image in include.images %}
    <a href="#{{include.set}}">&times;</a>
    <a id="image-{{include.set}}-{{forloop.index0}}" href="#{{include.set}}">
      <img src="{{image.image}}" alt="{{image.alt}}">
      <span>{{image.alt}}</span>
    </a>
  {% endfor %}
</div>

<ul class="photo-array" id="{{include.set}}">
  {% for image in include.images %}
    <li>
      <a href="#image-{{include.set}}-{{forloop.index0}}">
        <img src="{{image.image}}" alt="{{image.alt}}">
      </a>
    </li>
  {% endfor %}
</ul>
